:root
{
    --white: #fff;
    --black: #000;
    --red: #f25a70;
    --purple: #7c5e99;
    --grey: #3a4042;
}

a
{
    color: var(--white);
    text-decoration: none;
}

.header
{
    display: flex;
    height: 80px;
    padding: 10px 25px 10px 20px;
    background-color: var(--purple);
    justify-content: space-between;
}

.navigation
{
    height: 100%;
    width: auto;
}

.n_ul
{
    display: inline-flex;
    height: 100%;
    width: auto;
    align-items: center;
    list-style: none;
}

.n_links
{
    margin-right: 30px;
    font: 500 20px "Fira Code";
    font-family: "Fira Code", sans-serif;
}

.logo
{
    width: 3.75rem;
    height: auto;
    transition:  transform 0.2s linear;
}

.n_button
{
    font: 500 20px "Fira Code";
    font-family: "Fira Code", sans-serif;
    height: 60px;
    background-color: var(--red);
    border: 0;
    padding: 17px 18px 17px 20px;
    box-shadow: 5px 5px 0px var(--black);
    transition: color 0.2s linear, background-color 0.2s linear;
    
}

.n_links::before
{
    content: "\25FC";
    margin-right: 10px;
    color: var(--red);
}

.logo:hover
{
    transform: scale(1.05);
}

.n_links a
{
    transition: border-bottom 0.1s linear;
}

.n_links a:hover
{
    border-bottom: solid 3px var(--white);
}

.n_button:hover
{
    cursor: pointer;
    color: var(--red);
    background-color: var(--white);
}

.separator
{
    height: 10px;
    background-color: var(--black);
}

.v_separator
{
    background-color: var(--black);
    position: absolute;
    z-index: 5;
    width: 5px;
    height: 797px;
    left: 992px;
}

#b_images
{
    position: absolute;
    width: 100%;
    z-index: -2;
}

#b_img1
{
    position: absolute;
    z-index: -1;
    width: 1481px;
    height: 797px;
}

#b_img2
{
    position: absolute;
    z-index: 1;
    width: 996px;
    height: 797px;
}

#box_info
{
    position: absolute;
    background-color: var(--grey);
    width: 627px;
    height: 184px;
    margin-top: 106px;
    margin-left: 91px;
    box-shadow: 10px 10px 0px var(--black);
    padding-top: 42px;
    padding-left: 40px;
}

#name
{
    margin-left: 50px;
    color: var(--red);
    font: 400 40px "Press Start 2P";
    text-shadow: 4px 4px 0px var(--black);
}

#bio
{
    margin-top: 28px;
    color: var(--white);
    font: 400 30px "Press Start 2P";
    text-shadow: 4px 4px 0px var(--black);
}

#b_box_buttons
{
    position: absolute;
    justify-content: space-between; 
    margin-left: 181px;
    top: 418px;
}

.b_buttons
{
    background-color: var(--red);
    color: var(--white);
    font: 400 20px "Fira Code";
    display: inline-block;
    text-align: center;
    width: 170px;
    height: 60px;
    padding: 17px 18px 17.43px 20px;
    box-shadow: 5px 5px 0px var(--black);
}

.b_buttons:hover
{
    cursor: pointer;
}

#b_bt2
{
    margin-left: 112px;
}